body{
    background-image: url("./pinkDots.jpg");
    font-family: 'Freckle Face', cursive;
    line-height: 50px;
    font-size: 30px;

}
h1{
    text-align: center;
    font-family: 'Acme', sans-serif;
    border-style: ridge;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    border-width: 13px;
}
input{
    font-family: 'Pacifico', cursive;
    font-size: medium;
}
#id {
    height: 200px;
    margin-left: 850px;
    border-radius: 40%;
}