body{
  background: linear-gradient(35deg, pink, magenta, maroon);
    font-family: 'Freckle Face', cursive;
    line-height: 50px;
    font-size: 30px;


}
h1{
    text-align: center;
    font-family: 'Acme', sans-serif;
    border-style: ridge;
    border-color: rgb(253, 25, 120)13;
    border-radius: 50%;
    border-width: 13px;
}
input{
    font-family: 'Pacifico', cursive;
    font-size: medium;
}
#id {
    height: 200px;
    margin-left: 850px;
    border-radius: 40%;
    box-shadow: 10mm,10mm,5mm, rgb(255, 255, 255);
   

}
div{
    width: fit-content;
    background: radial-gradient( rgb(226, 112, 198),rgb(241, 44, 209),rgb(143, 8, 125));

}
#par{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}